body{
    background-color: #F7F6F2;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
/* header part started */
.header{
    display: flex;
    height: 70px;
    /* justify-content: space-between; */
    /* background-color: blueviolet; */
    
} 
.head1{
    display: flex;
    margin-top: 22px;
    margin-left: 59px;
   
}
.head1 div{
    padding: 7px 80px 5px 1px;
}
.p-1{
    color: #7C8698;
}
.P-2{
    color: #7C8698;
}
.P-3{
    color: #7C8698;
}
.P-4{
    color: #7C8698;
}
.P-5{
    color: #7C8698;
}
.cont1{
    display: flex;
    /* background-color: white; */
    height: 70px;
    width: 338px;
    /* margin-left: 350px; */
}
.cont1-1{
    display: flex;
    height: 40px;
    width: 70px;
    border: 1px solid #F1EFEF;
    background-color: #F1EFEF;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 1px;
    justify-content: center;
    align-items: center;
    
}
.cont2{
    display: flex;
    margin-left: 30px;
    /* margin-top: 10px; */
    /* padding: 30px; */
   
}
.cont2-1{
      display: flex;
      height: 60px;
      width: 230px;
      border: 2px solid #a7e92f;
      border-radius: 20px;
      /* padding: 15px; */
      justify-content: center;
      align-items: center;
      margin-top: 5px;
}
 .cont2-1:hover{
    background-color:#a7e92f ;
 }
  /* part 2 ANIMATION  */
.animate1{
    display: grid;
    height: 580px;
    width: 400;
    /* background-color: #a7e92f; */
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 10px;
    border-radius: 40px;

}
.imageslider{
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    animation: changeimage 18s linear infinite ;
}
@keyframes changeimage {
    0%{
        background-image: url(image1.jpg);
    }
    50%{
        background-image: url(image3.jpg);
    }
    100%{
        background-image: url(image2.jpg);
    }
}
/* part 3 add text */
.part3{
     display: flex;
     height: 220px;
     width: 1305px;
     /* background-color: #e9792f; */
     margin-top: 100px;
     margin-left: 23px;
     /* margin-right: 3px; */
     
}
.txt1{
    font-size: 3.9rem;
    position: absolute;
}
/* part 4 add 3 boxes */
.part4{
    display: flex;
    height: 210px;
    width: 1305px;
    margin-left: 23px;
    margin-top: 30px;
    /* background-color: rgb(228, 165, 84); */
}
.part4-1{
    height:150px;
    width: 430px;
    border-top: 2px solid #a7e92f ;
    /* background-color: #a7e92f; */
}
.part4-2{
    height:150px;
    width: 430px;
    border-top: 2px solid #a7e92f ;
    /* background-color: aqua; */
    margin-left: 15px;
}
.part4-3{
    height:150px;
    width: 430px;
    border-top: 2px solid #a7e92f ;
    /* background-color: blueviolet; */
    margin-left: 15px;
}
.txt2{
    font-size: 3.9rem;
    margin-top: 17px;
}
.txt3{
    margin-top: 17px;
    font-size: 3.9rem;
}
.txt4{
    margin-top: 17px;
    font-size: 3.9rem;
}
